<div *ngIf="user && !cargando; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>

<ng-template #showLogin>
  <div *ngIf="cargando" class="row justify-content-center align-content-center vh-100">
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
  <div *ngIf="!cargando">
    <app-login></app-login>
  </div>
</ng-template>

<router-outlet></router-outlet>